.btn-manage {
    font-size: large;
    outline: 0.1rem solid black;
    margin: 0 0.2rem;
    padding: 0.2rem;
    font-weight: 600;
}

.btn-manage:hover {
    color: white;
    background-color: black;
}

.btn-manage:focus {
    color: white;
    background-color: black;
    box-shadow: 0.2rem 0.2rem  rgb(240, 189, 33);
}

.btn-manage-focus {
    color: white;
    background-color: black;
    box-shadow: 0.2rem 0.2rem  rgb(240, 189, 33);
}