/* Layout style */
body {
    background-image: url("pattern.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center center; 
    background-size: cover; 
}

nav {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    border-bottom: solid black 0.1rem;
}

.navbar {
    font-size: large;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    margin-right: 3rem;
    border-radius: 10%;
    padding: 0 0.3rem;
    font-size: 2rem;
    background-color: rgb(240, 189, 33);
}

.dropdown-item:hover {
    background-color: rgb(240, 189, 33);;
}

.nav-link {
    color: white;
}

.nav-link:hover, .nav-link:focus {
    color: rgb(240, 189, 33);;
}

.search {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

footer {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    margin-top: auto;
    padding: 1.5rem;
    color: rgb(240, 189, 33);;
    font-size: smaller;
    text-align: center;
    border-top: solid black 0.1rem;
}

.navbar-toggler {
    background-color:rgb(240, 189, 33);
    font-size: 1rem;
}

/* Error messages */
#error {
    margin: auto;
    font-family: "Bookman Old Style", Verdana;
    font-size: large;
    font-style: italic;
    text-align: center;
    color: black;
}

.alert {
    margin: auto;
    width: fit-content;
    background-color: rgb(240, 189, 33);
    box-shadow: 0.7rem 0.7rem; 
}

/* Login and register form */
#forms {
    margin: 3rem auto;
    padding-bottom: 2rem;
    width: 30%;
    min-width: 15rem;
    border-radius: 0.6rem;
    border: black solid;
    box-shadow: 0.7rem 0.7rem;
}

.form_name {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    color: white;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 0.1rem solid rgb(240, 189, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-group {
    padding: 1rem;
}

.input-group-text {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    color:white;
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
    width: 12rem;
    justify-content: center;
}

.form-control {
    background: none;
    border: 0.05rem solid black;
}

.form-control:focus {
    box-shadow: 0 0 0.3rem rgb(240, 189, 33);
    border: 0.01rem black;
}

#input-button {
    color: white;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.2rem 5rem 0.2rem 5rem;
    border-radius: 0.5rem;
}

#input-button:hover {
    box-shadow: 0 0 5px rgb(240, 189, 33);
}

/* After login */
#user {
    color: rgb(240, 189, 33);    
    float: right;
    margin-left: 2rem;    
}

/* Books and members table style*/
.table {
    font-weight: bold;
}

th {
    font: caption;
}

.table-button {
    color: white;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    border-radius: 0.5rem;
}

.table-button:hover {
    border-color: rgb(240, 189, 33);
    color: rgb(240, 189, 33);
}

#member-button {
    color: white;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 62%, rgba(121,121,121,1) 100%);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

#member-button:hover {
    border-color: rgb(240, 189, 33);
    color: rgb(240, 189, 33);
}