{% extends "layout.html" %}

{% block title %}Books{% endblock %}

{% block search %}
<form class="d-flex" role="search">
    <input class="search me-2" type="search" name="query" autocomplete="off" placeholder="ID, Title or Author" aria-label="Search">
    <button class="btn btn-outline-warning" type="submit">Search</button>
</form>
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>            
            <th scope="col">TITLE</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">GENRE</th>          
            <th scope="col">PUBLISHED</th>
            <th scope="col">STOCK</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>            
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td> 
            <td>{{ book.genre }}</td>           
            <td>{{ book.year }}</td>
            <td>{{ book.stock }}</td>
            <td><button action="/issue" class="table-button">Issue book</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}