{% extends "layout.html" %}

{% block title %}Books Management{% endblock %}

{% block search %}
<input id="search" class="search me-2" onkeyup="search()" type="search" name="query" autocomplete="off" placeholder="Serach" aria-label="Search">
<span class="by">by</span>
<select name="field" id="field" class="select">
    <option value="title">Title</option>
    <option value="author">Author</option>
    <option value="id">ID</option>
</select>
{% endblock %}

{% block main %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        <span class="error">{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<p>
    <button class="button btn-members" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Instructions
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="note">
        <ul>
            <li>In order to edit book details, select the 'Edit' button at the far right of the book's row.
                A form will open where you can make desired changes. To save those changes please select the 'Update' button.</li>
            <li>To delete a book select corresponding 'Remove' button. You will be prompted to confirm your choice. This completely removes all book's stock and details from the system.
                Make sure that all copies of the book have been returned before proceeding. Please note that this is a PERMANENT ACTION and CANNOT BE UNDONE!</li>
        </ul>
    </div>
</div>
<div class="wrapper" id="blur">
    <table id='books' class="table table-striped" spellcheck="false">
        <thead class="sticky-top table-top">
            <tr>
                <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>            
                <th scope="col">TITLE</th>
                <th scope="col">AUTHOR</th>
                <th scope="col">GENRE</th>          
                <th scope="col">PUBLISHED</th>
                <th scope="col">STOCK</th>
                <th scope="col"></th>
                <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}            
                <tr class="row-data">                            
                    <td id="id">{{ book.id }}</td>
                    <td id="title">{{ book.title }}</td>
                    <td id="author">{{ book.author }}</td> 
                    <td id="genre">{{ book.genre }}</td>           
                    <td id="year">{{ book.year }}</td>
                    <td id="stock">{{ book.stock }}</td>
                    <form action="/books" method="POST" onsubmit="return confirm('Completely remove \'{{ book.title }}\' by {{ book.author }} (book ID: {{ book.id }}) and all of its stock from library database?')">
                        <td><form action="/books" method="POST" onsubmit="return confirm('Completely remove \'{{ book.title }}\' by {{ book.author }} (book ID: {{ book.id }}) and all of its stock from library database?')">
                        <input name="id" value="{{ book.id }}" hidden><button name="button" value="remove" class="button">Remove</button>
                    </form></td>
                    <td><button class="button btn-edit" onclick='toggle(); editForm("{{ book.id }}", "{{ book.title }}", "{{ book.author }}", "{{ book.genre }}", "{{ book.year }}", "{{ book.stock }}")'>Edit</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="popup">
    <form class="forms" action="/books" method="post" onsubmit="return confirm('Please confirm that all details are correct.')">
        <h4 class="form_name">EDIT BOOK<span class="close" onclick="toggle()"><sup>X</sup></span></h4>
        <input hidden name="form_id" id="form_id">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input class="form-control" name="title" id="form_title" autocomplete="off">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Author</span>
            <input class="form-control" name="author" id="form_author" autocomplete="off">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
            <select class="form-control" name="genre" id="form_genre">
                {% for genre in genres %}
                <option>{{ genre }}</option>
                {% endfor %}
            </select>     
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Published</span>
            <input class="form-control" name="year" id="form_year" autocomplete="off">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Stock</span>
            <input class="form-control" name="stock" id="form_stock" autocomplete="off">
        </div>
        <button class="input-button" type="submit" name="button" value="update">Update</button>
        
    </form>
    
</div>
<script>
    // Javascript toggle blur & popup script
    function toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }

    // Populate popup form fields with corresponding values of a selected book
    function editForm(id, title, author, genre, year, stock){
        document.getElementById("form_id").value = id;
        document.getElementById("form_title").value = title;
        document.getElementById("form_author").value = author;
        document.getElementById("form_genre").value = genre;
        document.getElementById("form_year").value = year;
        document.getElementById("form_stock").value = stock;
    }

    // Dynamic search with AJAX and jQuerry
    function search() {
    var query = $('#search').val();
    var field = $('#field').val();
    $.get('/books', {'query': query, 'field': field}, function(data) {
        var table = $('#books tbody');
        table.empty();
        if (query === '') {  // If query empty
            window.location.reload();  // Reload template
        } else {
            data.forEach(function(book) {
                var row = $('<tr></tr>');
                row.append($('<td></td>').text(book.id));
                row.append($('<td></td>').text(book.title));
                row.append($('<td></td>').text(book.author));
                row.append($('<td></td>').text(book.genre));
                row.append($('<td></td>').text(book.year));
                row.append($('<td></td>').text(book.stock));
                
                form = $('<form></form>').attr('action', '/books').attr('method', 'POST').on('click', function(e) {
                    if (!confirm('Completely remove \'' + book.title + '\' by ' + book.author + ' (book ID: ' + book.id + ') and all of its stock from library database?')) {
                        e.preventDefault();  // Prevent form submission if user cancels
                    }
                });
                input = $('<input>').attr("name", 'id').attr('value', book.id).hide()
                button = $('<button></button>').text('Remove').addClass('button').attr('name', 'button').attr('value','remove');

                form.append(input).append(button);  // Input & button inside form element
                
                row.append($('<td></td>').append(form));
                row.append($('<td></td>').append($('<button></button>').text('Edit').addClass('button btn-edit').click(function() {
                    toggle();
                    editForm(book.id, book.title, book.author, book.genre, book.year, book.stock);
                })));   // Toggle and editForm functions appended along with Edit button class
                table.append(row);
            });
        }
    });
}
</script>
{% endblock %}
