{% extends "layout.html" %}

{% block title %}Checkout{% endblock %}

{% block search %}

{% endblock %}

{% block main %}
<div class="container-ch">
    <form id="form" role="search" action="/checkout">
        <input class="search-member-ch me-2" id="searchMember" type="search" name="query_member" autocomplete="off" placeholder="Member ID" aria-label="Search" autofocus>
        <button id="findMember" class="btn btn-outline-warning" type="submit">Find</button>
    </form>

    <div class="wrapper">
        <table id="member" class="table" spellcheck="false">
            <thead class="sticky-top table-top">
                <tr>
                    <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">PHONE</th>
                    <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
                </tr>
            </thead>
            <tbody>                
                    <tr class="row-data row-member-ch" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample">                        
                    </tr>                   
            </tbody>
        </table>
    </div>
</div>

<!--Collapse https://getbootstrap.com/docs/5.3/components/collapse/-->
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <input id="searchBook" name="query_book" class="search-book-ch me-2" onclick="searchBookCh()" type="search" autocomplete="off" placeholder="Book ID" aria-label="Search">
            <button class="btn btn-book-ch" type="submit">Find</button>
        </div>
        <div class="wrapper table-book-ch">
            <table id='book' class="table">
                <thead class="sticky-top table-top">
                    <tr>
                        <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>            
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">GENRE</th>          
                        <th scope="col">PUBLISHED</th>                        
                        <th scope="col">AVAILABLE</th>
                        <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="row-data">
                        <td>{{ book.id }}</td>            
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td> 
                        <td>{{ book.genre }}</td>           
                        <td>{{ book.year }}</td>    
                        <td>{{ book.availability }}</td>
                        <td><button class="button btn-edit">Add Book</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>




<!-- Toogle offcanvas button:

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        Toggle static offcanvas
    </button>
    
-->

<!--Checkout https://getbootstrap.com/docs/5.3/components/offcanvas/-->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Books Checkout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
        Content...

    </div>
</div>


<script>
$('#findMember').click(function(e) {
    e.preventDefault();    
    $('.collapse').show();
    let query = $('#searchMember').val();    
    $.post('/checkout', {'query_member': query}).done(function(data) {   
        let row = $('<tr></tr>').addClass('row-data row-member-ch');
        if (!query) {                         // If query empty
            $('#member tbody').empty();       // Clear table's body element
        } else {
            data.forEach(function(member) {
                row.append($('<td></td>').text(member.member_id));
                row.append($('<td></td>').text(member.name));
                row.append($('<td></td>').text(member.email));
                row.append($('<td></td>').text(member.address));
                row.append($('<td></td>').text(member.phone));
                row.append($('<td></td>').html('<button id="cancelMember">Cancel</button>'));
                $('#member tbody').html(row);
            });
            // Remove member (clear table's body element) if cancel selected
            $('#cancelMember').click(function() {
                $('.collapse').hide();
                $('#member tbody').empty();
                row.removeAttr('data-bs-target','#collapseExample');
            });
        }
    });
});
</script>
{% endblock %}