{% extends "layout.html" %}

{% block title %}Checkout{% endblock %}

{% block search %}

{% endblock %}

{% block main %}
<div class="container-ch">
    <form role="search" action="/checkout">
        <input class="search-member-ch me-2" type="search" name="query" autocomplete="off" placeholder="Member ID" aria-label="Search" autofocus>
        <button class="btn btn-outline-warning" type="submit">Find</button>
    </form>

    <div class="wrapper">
        <table class="table" spellcheck="false">
            <thead class="sticky-top table-top">
                <tr>
                    <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col" style="border-radius: 0 0.7rem 0 0;">PHONE</th>
                </tr>
            </thead>
            <tbody>
                {% for m in member %}
                    <tr class="row-data row-member-ch" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <td id="id"><input name="id" value="{{ m.member_id }}" hidden> {{ m.member_id }}</td>
                        <td id="name">{{ m.name }}</td>
                        <td id="email">{{ m.email }}</td>
                        <td id="address">{{ m.address }}</td>
                        <td id="phone">{{ m.phone }}</td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Collapse https://getbootstrap.com/docs/5.3/components/collapse/-->
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <input id="search" name="query_books" class="search-book-ch me-2" onclick="searchBookCh()" type="search" autocomplete="off" placeholder="Book ID" aria-label="Search">
            <button class="btn btn-book-ch" type="submit">Find</button>
        </div>
        <div class="wrapper table-book-ch">
            <table id='book' class="table">
                <thead class="sticky-top table-top">
                    <tr>
                        <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>            
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">GENRE</th>          
                        <th scope="col">PUBLISHED</th>                        
                        <th scope="col">AVAILABLE</th>
                        <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="row-data">
                        <td>{{ book.id }}</td>            
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td> 
                        <td>{{ book.genre }}</td>           
                        <td>{{ book.year }}</td>    
                        <td>{{ book.availability }}</td>
                        <td><button class="button btn-edit">Add Book</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>




<!-- Toogle offcanvas button:

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        Toggle static offcanvas
    </button>
    
-->

<!--Checkout https://getbootstrap.com/docs/5.3/components/offcanvas/-->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Books Checkout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
        Content...

    </div>
</div>


<script>
function searchBookCh() {
  var query = $('#search').val();
  $.get('/checkout', {'query_books': query}, function(e) { 
    var table = $('#book tbody');
    $(function(book) {  
      var row = $('<tr></tr>');
      console.log('id', book.id);
      row.append($('<td></td>').text(book.id));
      row.append($('<td></td>').text(book.title));
      row.append($('<td></td>').text(book.author));
      row.append($('<td></td>').text(book.genre));
      row.append($('<td></td>').text(book.year));
      row.append($('<td></td>').text(book.availability));
      table.append(row);
    });
  });
}
</script>
{% endblock %}