{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block main %}
<div class="faq">
    <h4>Q. How long can a book be checked out?</h4>
    <p>Each book can be checked out for up to three (3) weeks.</p>
    <br>

    <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h4>
    <p>
        Nullam vehicula blandit metus, id dapibus metus gravida quis. Nullam consectetur mi vel ipsum gravida, ac malesuada ligula varius. 
        Integer eu feugiat nulla. Morbi accumsan dignissim sem quis convallis. Phasellus molestie quis neque quis pretium. Etiam consectetur 
        aliquam massa, nec pharetra ipsum ornare vel. Etiam at rutrum arcu, eget convallis augue. Donec molestie, ipsum nec hendrerit eleifend, 
        mauris nisl mollis ante, rhoncus tempor metus augue eu tortor.
    </p>
    <br>

    <h4>Q. Ut mattis hendrerit nulla accumsan aliquam?</h4>
    <p>
        Aliquam et est nulla. Suspendisse in bibendum dolor, in eleifend arcu. Ut efficitur, odio eget pharetra ultricies, 
        nisl lectus accumsan tellus, in pulvinar sem arcu sed sem.
    </p>
    <br>

    <h4>Q. Suspendisse lectus urna, convallis et leo nec, bibendum ultrices ipsum. Suspendisse commodo interdum ultricies?</h4>
    <p>
        Vestibulum elementum magna lacinia leo eleifend, pharetra pulvinar tellus sollicitudin. Morbi vitae risus ut enim laoreet auctor.
    </p>
</div>
   
{% endblock %}