{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        <span class="error">{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<h4 style="margin-bottom:2rem;">BOOK RETURNS</h4>
<div class="wrapper">
    <table class="table table-striped">
        <thead class="sticky-top table-top">
            <tr>
                <th scope="col" style="border-radius: 0.7rem 0 0 0;"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %} 
                <tr class="row-data-index" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"> 
                    <td class="memId">{{ member.member_id }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.email }}</td> 
                    <td>{{ member.address }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--https://getbootstrap.com/docs/5.3/components/offcanvas/-->
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas header</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>    
    <table id="borrowed" class="table">
        <thead class="sticky-top table-top">
            <tr>
                <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>            
                <th scope="col">TITLE</th>
                <th scope="col">AUTHOR</th>
                <th scope="col">GENRE</th>          
                <th scope="col">PUBLISHED</th>   
                
                <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <form action="/" method="post" id="returnAll" onclick='return confirm("Return all books?")'>
        <button class="btn-return-all">Return All</button>
    </form>
</div>

{% endblock %}