{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="aaa">
    <form id="forms" action="/login" method="post">
        <h4 class="form_name">LOG IN</h4>        
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            <input class="form-control" type="text" name="username" autocomplete="off" autofocus>
        </div>        
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input class="form-control" type="password" name="password" autocomplete="off">
        </div>
        <button id="input-button" type="submit">Log In</button>
    </form>
</div>
{% endblock %}