{% extends "layout.html" %}

{% block title %}System Management{% endblock %}

{% block main %}
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            <span class="error">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    

    {% if session["user_id"] == 1 %}
    <ul class="nav">
        <li class="nav-item-manage">
            <button class="btn btn-manage" id="collapseHistory">
                Transactions History
            </button>
        </li>
        <li class="nav-item-manage">
            <button class="btn btn-manage" id="collapseRegister">
                Register New Librarian
            </button>
          </li>
        <li class="nav-item-manage">
            <button class="btn btn-manage" id="collapseRemove">
                Remove Librarian
            </button>
        </li>
      </ul>
      <hr>

        <div class="card-body" id="historyCollapse">
            <p style="font-size: 1.1rem;"><span class="borrowed">Borrowed</span> / <span class="returned">Returned</span></p>
            <div class="wrapper">
                <table class="table table-striped">
                    <thead class="sticky-top table-top">
                        <tr>
                            <th scope="col" style="border-radius: 0.7rem 0 0 0;">BOOK (ID)</th>
                            <th scope="col">MEMBER (ID)</th>
                            <th scope="col">LIBRARIAN</th>
                            <th scope="col" style="border-radius: 0 0.7rem 0 0;">TIME</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transactions %}
                        {% if t.type == 'borrowed' or t.type == 'borrow' %}
                            <tr class="borrowed"> 
                                <td class="memId">{{ t.title }} ({{ t.book_id }})</td>
                                <td>{{ t.name }} ({{ t.borrower_id }})</td>
                                <td>{{ t.staff_name }}</td> 
                                <td>{{ t.time }}</td>
                            </tr>
                        {% else %}
                            <tr class="returned"> 
                                <td class="memId">{{ t.title }} ({{ t.book_id }})</td>
                                <td>{{ t.name }} ({{ t.borrower_id }})</td>
                                <td>{{ t.staff_name }}</td> 
                                <td>{{ t.time }}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-body" id="registerCollapse">
            
            <form class="forms" action="/register" method="post">
                <h4 class="form_name">New Librarian Form</h4>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                    <input class="form-control" type="text" name="name" autocomplete="off" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    <input class="form-control" type="text" name="username" autocomplete="off">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    <input class="form-control" type="password" name="password" autocomplete="off">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                    <input class="form-control" type="password" name="confirmation" autocomplete="off">
                </div>
                <button id="staff-register" class="input-button" type="submit">Register</button>
            </form>
        </div>

        <div class="card-body" id="removeCollapse">
            <div class="wrapper-lms">
                <table class="table table-striped">
                    <thead class="sticky-top table-top">
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in staff %}
                            <tr class="row-remove-staff"> 
                                <td>{{ s.name }}</td>
                                <td>{{ s.username }}</td>
                                <td><button class="btn-remove-staff">Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
{% endblock %}