{% extends "layout.html" %}

{% block title %}Members Management{% endblock %}

{% block search %}
<form class="d-flex aaa" role="search">
    <input class="search me-2" type="search" name="query" autocomplete="off" placeholder="ID or Name" aria-label="Search">
    <button class="btn btn-outline-warning" type="submit">Search</button>
</form>
{% endblock %}

{% block main %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        <span class="error">{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<p>
    <button class="button btn-members" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Instructions
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="note">
        <ul>
            <li>In order to edit member details, select the 'Edit' button at the far right of the member's row.
                A form will open where you can make desired changes. To save those changes please select the 'Update' button.</li>
            <li>To delete a member select corresponding 'Remove' button. You will be prompted to confirm your choice. Make sure that 
                all books from selected member have been returned to library before proceeding. Please note that this is a PERMANENT
                ACTION and CANNOT BE UNDONE!</li>
        </ul>
    </div>
</div>
<div class="wrapper" id="blur">
    <table class="table table-striped" spellcheck="false">
        <thead class="sticky-top table-top">
            <tr>
                <th scope="col" style="border-radius: 0.7rem 0 0 0;">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">PHONE</th>
                <th scope="col"></th>
                <th scope="col" style="border-radius: 0 0.7rem 0 0;"></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <form action="/members" method="POST" onsubmit="return confirm('Completely remove member {{ member.name }} (member ID: {{ member.member_id }}) and all their details from library database?')">
                <tr class="row-data">            
                    <td id="id"><input type="text" name="id" value="{{ member.member_id }}" hidden>{{ member.member_id }}</td>
                    <td id="name">{{ member.name }}</td>
                    <td id="email">{{ member.email }}</td> 
                    <td id="address">{{ member.address }}</td>
                    <td id="phone">{{ member.phone }}</td>
                    <td><button name="button" value="remove" class="button">Remove</button></td> 
            </form>            
                    <td><button class="button btn-edit" onclick='toggle(); editForm("{{ member.member_id }}", "{{ member.name }}", "{{ member.email }}", "{{ member.address }}", "{{ member.phone }}")'>Edit</button></td>                              
                </tr>        
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="popup">
    <form class="forms" action="/members" method="post" onsubmit="return confirm('Please confirm that all details are correct.')">
        <h4 class="form_name">EDIT MEMBER<span class="close" onclick="toggle()"><sup>X</sup></span></h4>
        <textarea hidden name="form_id" id="form_id"></textarea>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
            <textarea class="form-control" name="name" id="form_name" autocomplete="off" rows="1"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">E-mail</span>
            <textarea class="form-control" name="email" id="form_email" autocomplete="off" rows="1"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <textarea class="form-control" name="address" id="form_address" autocomplete="off" rows="1"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
            <textarea class="form-control" name="phone" id="form_phone" autocomplete="off" rows="1"></textarea>
        </div>
        <button class="input-button" type="submit" name="button" value="update">Update</button>
        
    </form>
    
</div>
<script>
    // Javascript toggle blur & popup
    function toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }

    // Populate popup form fields with corresponding values of a selected member
    function editForm(member_id, name, email, address, phone){
        document.getElementById("form_id").value = member_id;
        document.getElementById("form_name").value = name;
        document.getElementById("form_email").value = email;
        document.getElementById("form_address").value = address;
        document.getElementById("form_phone").value = phone;
    }
</script>
{% endblock %}