{% extends "layout.html" %}

{% block title %}Members{% endblock %}

{% block search %}
<form class="d-flex" role="search">
    <input class="search me-2" type="search" name="query" autocomplete="off" placeholder="ID or Name" aria-label="Search">
    <button class="btn btn-outline-warning" type="submit">Search</button>
</form>
{% endblock %}

{% block main %}
<form action="/new-member">
    <button id="member-button">Add Member</button>
</form>
<p class="note">In order to edit member details, select the member's field you wish to amend.
   To save a desired change please select the 'Edit' button at the far right of the member's row. </p>
<table class="table table-striped" spellcheck="false">
    <thead>
        <tr>
            <th scope="col">ID</th>            
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ADDRESS</th>          
            <th scope="col">PHONE</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <form action="/members" method="POST" onsubmit="return confirm('Are you sure you want to proceed?')">
                <td><input type="text" name="id" value="{{ member.member_id }}" hidden>{{ member.member_id }}</td>            
                <td><textarea name="name" rows="1" cols="30">{{ member.name }}</textarea></td>
                <td><textarea name="email" rows="1" cols="30">{{ member.email }}</textarea></td> 
                <td><textarea name="address" rows="1" cols="45">{{ member.address }}</textarea></td>           
                <td><textarea name="phone" rows="1" cols="15">{{ member.phone }}</textarea></td>
                <td><button name="button" value="edit" class="table-button" style="padding: 0 0.8rem">Edit</button></td>
                <td><button name="button" value="delete" class="table-button">Remove</button></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}