{% extends "layout.html" %}

{% block title %}New member{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible fade show" role="alert">
    <span class="error">{{ message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form class="forms" action="/new-member" method="post" onsubmit="return confirm('Please confirm that all details are correct.')">
    <h4 class="form_name">NEW MEMBER FORM</h4>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
        <input class="form-control" type="text" name="name" autocomplete="off" autofocus>
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">E-mail</span>
        <input class="form-control" type="email" name="email" autocomplete="off">
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        <input class="form-control" type="text" name="address" autocomplete="off">
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
        <input class="form-control" type="text" name="phone" autocomplete="off">
    </div>
    <button class="input-button" type="submit">Register</button>
</form>
{% endblock %}