{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form class="forms" action="/register" method="post">
    <h4 class="form_name">REGISTER</h4>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input class="form-control" type="text" name="name" autocomplete="off" autofocus>
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        <input class="form-control" type="text" name="username" autocomplete="off">
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        <input class="form-control" type="password" name="password" autocomplete="off">
    </div>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
        <input class="form-control" type="password" name="confirmation" autocomplete="off">
    </div>
    <button class="input-button" type="submit">Sign Up</button>
</form>
<div calss="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        <span class="error">{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}